.entry .entry__img-holder a img {
    height: 165px;
}

#top-sign-in-out {
    position: absolute;
    z-index: 1;
    left: 850px;
    top: 2px;
}

#top-sign-in-out a {
    border-radius: 8px;
    margin-left: 5px;
}

#container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 885px;
    width: 100%;
}

#login-form {
    margin: 0px auto;
    position: relative;
    top: 0px;
    text-align: center;
    top: -800px;
}

#background {
    background-image: url("http://localhost/ThiToeic/img/layout/background.jpg");
    height: 885px;
    width: 100%;
    position: relative;
    z-index: -1;
    top: 0px;
    opacity: 0.8;
}

table {
    border: 3px solid #e9eeee;
    text-align: center;
}

label, h1 {
    color: #ff3d72;
}

h1 {
    margin-top: 10px;
    font-style: italic;
}

input {
    margin-top: 10px;
}

input[type="checkbox"] {
    position: relative;
    box-sizing: border-box;
    top: 2px;
    left: 20px;
    height: 0px;
    width: 0px;
    z-index: 3;
    opacity: 0;
}

<<<<<<< HEAD
input[type="email"], input[type="password"],input[type="text"] {
=======
input[type="text"], input[type="password"] {
>>>>>>> 4d7499579f489aa3c23d228374395f3166e2e32e
    border-radius: 20px;
    padding-left: 40px;
    width: 80%;
}

#main-contain-test {
    margin: 0px auto;
    background-color: white;
    height: 600px; overflow:auto;
    text-align:center;
    padding:15px;
    border-radius:10px;
}

.disabled-button {
    opacity: 0;
    cursor: not-allowed;
}

